@using System
<div>
    <table id="vscodemetrics_results" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Module</th>
            <th>Class</th>
            <th>MaintainabilityIndex</th>
            <th>CyclomaticComplexity</th>
            <th>ClassCoupling</th>
            <th>DepthOfInheritance</th>
            <th>LinesOfCode</th>
        </tr>
        </thead>
        @{
            foreach (var target in @Model.Targets)
            {
                foreach (var module in target.Modules.OrderBy(m => int.Parse(m.Metrics[0].Value)))
                {
                    foreach (var ns in module.Namespaces.OrderBy(m => int.Parse(m.Metrics[0].Value)))
                    {
                        foreach (var cls in ns.Types.OrderBy(m => int.Parse(m.Metrics[0].Value)))
                        {
                            <tr>
                                <td>@module.Name</td>
                                <td>@cls.Name</td>
                                @foreach (var metric in cls.Metrics)
                                {
                                    <td>@metric.Value</td>
                                }
                            </tr>
                        }
                    }
                }
            }
        }
    </table>
</div>